@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

h1 {
  font-size: clamp(3rem, 6vw, 5.653rem);
  //   letter-spacing: -2px !important;
}

/* For h2 */
h2 {
  font-size: clamp(2rem, 4vw, 3.998rem) !important;
}

/* For h3 */
h3 {
  font-size: clamp(1.5rem, 3vw, 2.827rem);
}

/* For h4 */
h4 {
  font-size: clamp(1.8rem, 2vw, 1.999rem) !important;
}

/* For h5 */
p,
h5 {
  font-size: clamp(0.8125rem, 1.5vw, 1.414rem) !important;
  //   margin-bottom: 20px;
}

/* For small text */
small,
.text_small {
  font-size: clamp(0.5rem, 1vw, 0.707rem) !important;
}

.btns-music {
  &:hover {
    span {
      color: #00c4ff;
      text-shadow: 0 0 15px #00c4ff;
    }
    svg {
      fill: #40a9ff;
      filter: drop-shadow(0 0 15px #00c4ff);
    }
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.09em;
  border-radius: 100px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.nav-links a.active {
  border: solid 1px black;
}
